<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CarfareBatch.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
      <CarfareBatch.My.MySettings>
        <setting name="DB" serializeAs="String">
          <value>Server=tcp:192.168.53.204;Database=Carfare;UID=Carfare;PWD=Carfare;Connection Timeout=5</value>
        </setting>
        <setting name="SmtpID" serializeAs="String">
          <value>fatei.carfare@gmail.com</value>
        </setting>
        <setting name="SmtpHost" serializeAs="String">
          <value>smtp.gmail.com</value>
        </setting>
        <setting name="SmtpPort" serializeAs="String">
          <value>587</value>
        </setting>
        <setting name="SmtpTimeout" serializeAs="String">
          <value>10000</value>
        </setting>
        <setting name="SmtpPassword" serializeAs="String">
          <value>fHQtVgFPpldSgxK</value>
        </setting>
        <setting name="SmtpSSL" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="AdminAddress" serializeAs="String">
          <value>fi_koutsu@fate-i.jp</value>
        </setting>
        <setting name="TestMode" serializeAs="String">
          <value>False</value>
        </setting>
      </CarfareBatch.My.MySettings>
    </applicationSettings>
</configuration>