<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />
    <pages enableSessionState="false" validateRequest="false" />
    <customErrors redirectMode="ResponseRewrite" defaultRedirect="error.aspx" mode="On" />
    <sessionState mode="Off" />
  </system.web>

  <applicationSettings>
    <WebService.My.MySettings>
      <setting name="TickSleep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ProductStatusSleep" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CmpCode" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0001</string>
            <string>0002</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CRCKey" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>yptxOVqCb29nDf4ZmvJnBXIphNviBHnA</string>
            <string>yptxOVqCb29nDf4ZmvJnBXIphNviBHnA</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Demo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustAuthEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TradeTimeLog" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SessionUpdateTime" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="SessionEnableTime" serializeAs="String">
        <value>3600</value>
      </setting>
      <setting name="SysInfoUpdateWait" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SysInfoUpdateCount" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ProcessID" serializeAs="String">
        <value>WebService</value>
      </setting>
      <setting name="LoginCountEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataDeliveryTimeout" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="DataDeliveryHeartBeatTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DataDeliveryHeartBeatSendTimeout" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="DefaultLang" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="DefaultTimeMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultCmpCode" serializeAs="String">
        <value>0001</value>
      </setting>
      <setting name="DefaultLangAdmin" serializeAs="String">
        <value>ja</value>
      </setting>
      <setting name="DefaultTimeModeAdmin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="EndTime" serializeAs="String">
        <value>23:59:30</value>
      </setting>
      <setting name="DemoMoney" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DB" serializeAs="String">
        <value>Server=tcp:192.168.53.17;Database=Penguin8;UID=Penguin8;PWD=Penguin8;Connection Timeout=5</value>
        <!--<value>Integrated Security=SSPI;Initial Catalog=Penguin8;Data Source=(local);Connection Timeout=5</value>-->
      </setting>
      <setting name="DBSysInfo" serializeAs="String">
        <value>Server=tcp:192.168.53.18\SQL51;Database=Penguin8SysInfo;UID=Penguin8;PWD=Penguin8;Connection Timeout=5</value>
      </setting>
      <setting name="DataDeliveryPort" serializeAs="String">
        <value>10691</value>
      </setting>
      <setting name="DBSub" serializeAs="String">
        <value>Server=tcp:192.168.53.17;Database=Penguin8;UID=Penguin8;PWD=Penguin8;Connection Timeout=5</value>
        <!--<value>Integrated Security=SSPI;Initial Catalog=Penguin8;Data Source=(local);Connection Timeout=5</value>-->
      </setting>
      <setting name="CustAuthURL" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>http://183.77.251.81:1082/mypage/boApiLogin.do</string>
            <string>http://183.77.251.81:1083/mypage/boApiLogin.do</string>
          </ArrayOfString>
        </value>
      </setting>
    </WebService.My.MySettings>
  </applicationSettings>
</configuration>
